
<div id="inventory-list">
  <% if current_user %>
    <h1>Your Inventories</h1>
    <% if @inventories.empty? %>
      <p>No inventories yet.</p>
    <% else %>
      <% @inventories.each do |inventory| %>
        <div class="inventory-card">
          <div class="inventory-card-header gap-5">
              <%= link_to inventory.name, inventory_path(inventory.id), class: "inventory-card-name" %>
              <p class="inventory-card-description text-start"><%= inventory.description %></p> 
          </div>
          <%= button_to "Remove", inventory_path(inventory.id), method: :delete, data: { confirm: "Are you sure?" }, class: "inventory-card-link inventory-card-link-remove" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
