<section>
  <ul class="list-unstyled d-flex flex-column gap-3"> 
    <%@recipes.each do |recipe|%>
      <li class="d-flex gap-5 border border-2">
        <div class="w-25">
          <h3 class="fs-3"><%= recipe.name%></h3>
          <span>Remove Link here</span>
        </div>
        <div>
          <p><%= recipe.description%></p>
        </div>
      </li>
    <%end%>
  </ul>
</section>